/* .head1 {
    color: darkblue;
    text-align: center;
}

.menuButton {
    background-color: lightblue;
   
}

.imageBlock {
    text-align: center;
}

.image {
    display: inline-block;
}

.topNav {
    background-color: lightblue;
    height: 30px;
    overflow: hidden;
} */

/* .topNav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;

} */

/* .topNav a:hover{
    background-color: chartreuse;
    color: black;
}

navBar {
    text-align: center;
} */
